@font-face{
    font-family:"ciria";
    src: url("../fonts/ciriabold-webfont.woff") format('woff');
} 

@font-face{
    font-family:"franchise";
    src: url("../fonts/franchise.woff")
}
@font-face{
    font-family:"h1";
    src: url("../fonts/h1.woff");
}

@font-face{
    font-family: "h2";
    src: url("../fonts/h1.woff2");
}
