/*
 Theme Name:   Twenty Sixteen Child
 Theme URI:    http://example.com/twenty-sixteen-child/
 Description:  Twenty Sixteen Child Theme
 Author:       Geekwise Academy
 Author URI:   http://example.com
 Template:     twentysixteen
 Version:      1.2
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-sixteen-child
*/

body {
    background-color: #7a1501;
    
}

h1{
    display: none;
}
h2 img{
    width: 800px;
}
#masthead{
    width: 100%;
    text-align: center;
}
.site-header{
    padding: 0;
   
}
#site-header-main{
    text-align: center;
}

.site-header-main{
    text-transform: capitalize;
    margin:auto;
     text-align: center;
  
}
.menu-navigation li:hover a{
    
    
}
li{
    color: #7a1501;
}
li:hover{
    background-color: #f9da0c;
   
}
a{
   color: #7a1501;  
    
}
.site-branding{
    display: none;
    margin:0;
}

.linkhome{
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
}
.smallgk{
    position:relative;
    top: -150px;
}
.bottom{
    background-color: #f9da0c;
    color:#7a1501;
    text-align: center;
}


/*contact page css*/
.address{
  
}
.contactmd{
   width: 20%;
   background-color: #fff;
   color: black;
   text-align: center;
     position: relative;
    top: -350px;
    left: 350px;
}
 .terry:hover{
     color: black;
     font-size: 10px;
 }