			@font-face {
				font-family: 'ciria';
				font-style: normal;
				src: url('//geekwise-wordpress-geekwise-veronica-chavez.c9users.io/wp-content/uploads/useanyfont/160519110539ciria.eot');
				src: local('ciria'), url('//geekwise-wordpress-geekwise-veronica-chavez.c9users.io/wp-content/uploads/useanyfont/160519110539ciria.eot') format('embedded-opentype'), url('//geekwise-wordpress-geekwise-veronica-chavez.c9users.io/wp-content/uploads/useanyfont/160519110539ciria.woff') format('woff');
			}
						h3{
					font-family: 'ciria' !important;
				}
		